variant: openshift
version: {{ ocp_ignition_ocp_version }}
metadata:
  name: 99-{{ ocp_ignition_role }}-custom
  labels:
    machineconfiguration.openshift.io/role: {{ ocp_ignition_role }}
{% if ocp_ignition_butane_ignition | d(false) %}
ignition: {{ ocp_ignition_butane_ignition }}
{% endif %}
{% if ocp_ignition_butane_openshift | d(false) %}
openshift: {{ ocp_ignition_butane_openshift }}
{% endif %}
{% if ocp_ignition_butane_passwd  | d(false) %}
passwd: {{ ocp_ignition_butane_passwd }}
{% endif %}
{% if ocp_ignition_butane_storage | d(false) %}
storage: {{ ocp_ignition_butane_storage }}
{% endif %}
{% if ocp_ignition_butane_systemd | d(false) %}
systemd: {{ ocp_ignition_butane_systemd }}
{% endif %}
{% if ocp_ignition_butane_boot_device | d(false) %}
boot_device: {{ ocp_ignition_butane_boot_device }}
{% endif %}